<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.mapper.RoleMapper">
    <resultMap id="RoleMap" type="com.example.admin.bean.Role">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="namezh" property="namezh" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 查询所有的角色信息 -->
    <select id="roles" resultType="com.example.admin.bean.Role">
        SELECT * FROM role
    </select>
    <select id="getOrdinaryRole" resultType="com.example.admin.bean.Role">
        SELECT * FROM role WHERE name != 'ROLE_admin'
    </select>
    <!-- 插入一条角色信息 -->
    <insert id="insert" parameterType="com.example.admin.bean.Role">
        insert into role (id, name, namezh)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{namezh,jdbcType=VARCHAR})
    </insert>
    <!-- 根据主键id删除角色 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from role where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.example.admin.bean.Role" >
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="namezh != null" >
                namezh,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="namezh != null" >
                #{namezh,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.admin.bean.Role" >
        update role
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="namezh != null" >
                namezh = #{namezh,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.admin.bean.Role" >
        update role
        set name = #{name,jdbcType=VARCHAR},
        namezh = #{namezh,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>