<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.admin.mapper.UserRoleMapper">
    <resultMap id="UserRoleMap" type="com.example.admin.bean.UserRole">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="rid" property="rid" jdbcType="INTEGER" />
    </resultMap>
    <!-- 根据角色id删除 -->
    <delete id="deleteByRid">
        DELETE FROM user_role WHERE rid=#{rid}
    </delete>
    <!-- 根据用户id删除 -->
    <delete id="deleteByUid">
        DELETE FROM user_role WHERE uid=#{uid}
    </delete>
    <insert id="addRolesToUser">
        INSERT INTO user_role(uid,rid) VALUES
        <foreach collection="rids" item="rid" separator=",">
            (#{uid},#{rid})
        </foreach>
    </insert>
    <select id="selectByRid" resultType="com.example.admin.bean.UserRole">
        SELECT * FROM user_role WHERE rid=#{rid}
    </select>
</mapper>